@using NorthwindCms.Models
@model CatalogViewModel
@{
  ViewBag.Title = Model.CatalogPage.Title;
}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <h1 class="display-3">@Model.CatalogPage.Title</h1>
    </div>
  </div>
  <div class="row">
  @foreach(CategoryItem c in Model.Categories)
  {
    <div class="col-sm-4">
      <a class="card-link" href="@c.PageUrl">
        <div class="card border-dark" style="width: 18rem;">
          <img class="card-img-top" src="@c.ImageUrl" 
            alt="Image of @c.Title" asp-append-version="true" />
          <div class="card-body">
            <h5 class="card-title text-info">@c.Title</h5>
            <p class="card-text text-info">@c.Description</p>
          </div>
        </div>
      </a>
    </div>
  }
  </div>
</div>