@model NorthwindCms.Models.BlogPost
@inject Piranha.IApi Api
@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <article>
        <header>
            @if (Model.Hero.PrimaryImage.HasValue)
            {
                <img src="@Url.Content(Model.Hero.PrimaryImage.Resize(Api, 930, 360))">
            }
            <h1>@Model.Title</h1>
            <p class="post-meta">
                <strong>In</strong> <a href="/category/@Model.Category.Slug">@Model.Category.Title</a>
                <span class="sep">&#9670;</span>
                <strong>Tags</strong>
                @foreach (var tag in Model.Tags)
                {
                    <span class="tag"><a href="/tag/@tag.Slug">#@tag.Title</a></span>
                }
                <span class="sep">&#9670;</span>
                <strong>Published</strong>
                @Model.Published.Value.ToString("yyyy-MM-dd")
            </p>
        </header>
        @Html.DisplayFor(m => m.Blocks)
    </article>
</div>
